<h2> this is my webpage</h2>
<h1> my ansible os family: "{{ansible_os_family}}"</h1>
<h1> my ansible ip address:"{{ansible_all_ipv4_addresses}}"</h1>
<h1> my ansible ubuntu java pack: "{{myubuntujavapack}}"</h1>
<h1> my ansible RedHat java pack: "{{myRedHatjavapack}}"</h1>
<h1> my ansible ubuntu server: "{{myubuntuserver}}"</h1>
<h1> my ansible RedHat server: "{{myRedHatserver}}"</h1>
